# Copie este arquivo para .env e preencha os valores
GPT_OSS_API_KEY=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
DATABASE_URL=postgresql://lex_user:password@localhost:5432/lex_db
